/*********************************************
 * PROGRESS BAR
 *********************************************/
@import "compass/css3";

#progressBar {
  position: fixed;
  display: block;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
}

// this seems to give us a bigger click area (code borrowed from reveal.js)
#progressBar:after {
  content: '';
  display: 'block';
  position: absolute;
  height: 8px;
  width: 100%;
  top: -8px;
}

#progressBar span {
  @include transition(width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985));

  background-color: #00D9ED;
  display: block;
  height: 100%;
  width: 0px;
}

/*********************************************
 * Navigation buttons
 *********************************************/

@mixin navButton($url, $onLeft) {
  background: transparent url($url) no-repeat;
  @include background-size(contain); // warning this must go after setting background:, background: resets the size

  position: absolute;
  top: 50%;

  @if ($onLeft) {
    left: 10px;  }
  @else {
    right: 10px; }

  height: 50px;
  width: 50px;
  opacity: 0.5;
  z-index: 1000;

  @include transition(opacity 200ms ease-in);

  &:hover {
    opacity: 0.8;

    &:active {
      opacity: 1;
    }
  }
}

#prevButton {
  @include navButton('left.svg', true); // warning this must go after setting background:, background: resets the size
}

#nextButton {
  @include navButton('right.svg', false); // warning this must go after setting background:, background: resets the size
}

/*********************************************
 * Navigation radio buttons
 *********************************************/

// SNG Not sure what to do about these variables, copied over for now
$amoebaGreen: #A6CC2F;
$amoebaGreenMedium: #8BA400;
$amoebaGreenDark: #384F0E;
$amoebaGrey: #EAEBED;

#navigationControls {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

@mixin customRadioButton($backgroundColor, $frameColor) {
  @include appearance(none);
  height:15px;
  width:15px;
  background:$backgroundColor;
  border-radius: 8px;
  border:4px solid $frameColor;
  margin: 4px 4px;
  cursor:pointer;
  z-index: 1000;

  @include transition(opacity 200ms ease-in);

  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

#navigationControls input[type='radio'] {
  @include customRadioButton($amoebaGreen, transparent);
}

#navigationControls input[type='radio']:checked {
  @include customRadioButton($amoebaGreenDark, $amoebaGreen);
}


