lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules

# Ignore Sass' cache
/.sass-cache

# Mac OS Ignores
.DS_Store

# Ignore RubyMine's project folder
/.idea

